<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agenda de Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="detalhar-content">

  <ion-item class="toggle-item">
    <ion-label>Habilitar Edição</ion-label>
    <ion-toggle color="success" (ionChange)="alterarEdicao()" [checked]="!editar"></ion-toggle>
  </ion-item>

  <ion-list lines="full" class="form-list">

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="nome" [disabled]="editar"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="tel" [(ngModel)]="telefone" [disabled]="editar"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Gênero</ion-label>
      <ion-select [(ngModel)]="genero" [disabled]="editar">
        <ion-select-option value="Não Declarar">Não Declarar</ion-select-option>
        <ion-select-option value="Feminino">Feminino</ion-select-option>
        <ion-select-option value="Masculino">Masculino</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Data de Nascimento</ion-label>
      <ion-datetime-button datetime="datetime" [disabled]="editar"></ion-datetime-button>
    </ion-item>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime"
          presentation="date"
          [(ngModel)]="dataNascimento"
          display-format="DD/MM/YYYY"
          [max]="maxDate">
        </ion-datetime>
      </ng-template>
    </ion-modal>

  </ion-list>

  <div class="button-group">
    <ion-button expand="block" color="danger" (click)="excluir()" [disabled]="editar">
      Excluir
    </ion-button>
    <ion-button expand="block" (click)="salvar()" [disabled]="editar">
      Salvar
    </ion-button>
  </div>

</ion-content>


