.detalhar-content {
    padding: 16px;
  }
  
  .toggle-item {
    margin-bottom: 24px;
  }
  
  .form-list ion-item {
    margin-bottom: 16px;
  }
  
  .button-group {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  
  